<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!--Copy from react.html file-->
    <meta name="theme-color" content="#000000"/> 

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

    <!--this file we make using react.html-->
    {% include 'react/css.html' %}  

    <style>
      /*this will help to change nav bar color beacuse we add bg-tweetme in it's div*/
      .bg-tweetme {
        background-color: #8e1f1f!important;
      }
    </style>

    <title>Tweetme 2 {% block head_title %} {% endblock %}</title>
  </head>
  <body>
    <!--This we copy from react folder public folder from index.html file to enable javascript automatically-->
    <noscript>You need to enable JavaScript to run this app.</noscript>

    {% include "components/navbar.html" %} <!--Inluding navbar-->
    <div class="container">
      {% block content %}
      {% endblock content %}
    </div>  

    <!--these two given inclue file we make from react.html as we know-->
    {% include 'react/base_embed.html' %}
    {% include 'react/js.html' %}
  </body>
</html>